button,
input[type="button"],
input[type="submit"] {
  padding: 0.75rem 1rem;
  border: none;
  outline: none;
  background-color: map-get($components, "button");
  color: $foreground;
  user-select: none;
  cursor: pointer;
  width: fit-content;

  border-radius: 0.3em;
  box-shadow: 0px 0px 10px 0px rgba(darken($background, 10%), 0.5);
  transition: all 150ms ease-in-out;
  font-size: 14px;

  &:hover {
    background-color: lighten($background, 10%);
  }

  &:active {
    background-color: lighten($background, 5%);
  }

  &.small {
    font-size: 12px;
    padding: 0.5rem 0.75rem;
  }

  &.outlined {
    background-color: transparent;
    border: 2px solid map-get($components, "button");

    &:hover {
      background-color: transparent;
      border: 2px solid lighten($background, 10%);
      transition: all 150ms ease-in-out;
    }

    &:active {
      background-color: transparent;
      border: 2px solid lighten($background, 5%);
    }
  }

  &.inverted {
    background-color: invert($background);
    color: invert($foreground);
    box-shadow: 0px 0px 10px 0px rgba(invert($background), 0.5);

    &:hover {
      background-color: lighten(invert($background), 10%);
    }

    &:active {
      background-color: lighten(invert($background), 5%);
    }

    &.outlined {
      background-color: transparent;
      color: invert($background);
      border: 2px solid invert($background);

      &:hover {
        color: lighten(invert($background), 10%);
        border: 2px solid lighten(invert($background), 10%);
      }

      &:active {
        color: lighten($foreground, 5%);
        border: 2px solid lighten(invert($background), 5%);
      }
    }
  }

  &.red,
  input[type="reset"] {
    background-color: $red;

    &:hover {
      background-color: lighten($red, 10%);
    }

    &:active {
      background-color: lighten($red, 5%);
    }

    &.outlined {
      background-color: transparent;
      color: $red;
      border: 2px solid $red;

      &:hover {
        color: lighten($red, 10%);
        border: 2px solid lighten($red, 10%);
      }

      &:active {
        color: lighten($red, 5%);
        border: 2px solid lighten($red, 5%);
      }
    }
  }

  &.green {
    background-color: $green;

    &:hover {
      background-color: lighten($green, 10%);
    }

    &:active {
      background-color: lighten($green, 5%);
    }

    &.outlined {
      background-color: transparent;
      color: $green;
      border: 2px solid $green;

      &:hover {
        color: lighten($green, 10%);
        border: 2px solid;
      }

      &:active {
        color: lighten($green, 5%);
        border: 2px solid;
      }
    }
  }

  &.cyan {
    background-color: $cyan;
    color: $background;

    &:hover {
      background-color: lighten($cyan, 10%);
    }

    &:active {
      background-color: lighten($cyan, 5%);
    }

    &.outlined {
      background-color: transparent;
      color: $cyan;
      border: 2px solid $cyan;

      &:hover {
        color: lighten($cyan, 10%);
        border: 2px solid lighten($cyan, 10%);
      }

      &:active {
        color: lighten($cyan, 5%);
        border: 2px solid lighten($cyan, 5%);
      }
    }
  }
}
