/******************************************************
*   FIXED COLORS (Change these to propagate chages)   *
******************************************************/

$background: #222436;
$foreground: #ccdbf1;
$components: (
  "item": #525572,
  "button": #525572
);

$red: #ff4340;
$cyan: #00bee0;
$green: #7cb342;
$mastColor: #7cb342;

/******************************************************
*        DYNAMIC COLORS (Probably Don't Touch!)       *
******************************************************/

$cardColor: lighten($background, 2%);
$item: lighten($background, 10%);
