/******************************************************
*   FIXED COLORS (Change these to propagate chages)   *
******************************************************/
$background: #eeeeee;
$foreground: #252525;
$components: (
  "item": #d0d0d0,
  "button": #d0d0d0
);

$red: #ff4340;
$cyan: #00bee0;
$green: #7cb342;
$mastColor: #7cb342;

/******************************************************
*        DYNAMIC COLORS (Probably Don't Touch!)       *
******************************************************/

$cardColor: lighten($background, 2%);
$item: lighten($background, 10%);
