.modal {
  visibility: hidden;
  opacity: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  position: fixed;
  z-index: 2048;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: $background;
  background-color: rgba(0, 0, 0, 0.75);

  transition-duration: 400ms, 400ms;
  transition-property: visibility, opacity;

  &.visible {
    visibility: visible;
    opacity: 1;
    transition-duration: 400ms, 0;
    transition-property: opacity, visibility;
    transition-delay: 0, 400ms;
  }
}

/* Modal Content */
.modal-content {
  background-color: $background;
  padding: 20px;
  border: 1px solid lighten($background, 10%);
  width: 80%;
  max-width: 80%;
  max-height: 80%;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
  overflow: auto;
  max-width: 1024;

  img {
    display: block;
    margin: auto;
    width: 80%;
    height: auto;
  }

  .container {
    width: 80%;
    height: 80%;
    display: block;
    margin: auto;
  }

  .header {
    text-align: center;
    margin-block-start: 0;
    padding-bottom: 1rem;

    border-bottom: 1px solid lighten($background, 10%);
  }

  .content {
    overflow: auto;
  }

  /* The Close Button */
  .close {
    color: $foreground;
    float: right;
    font-size: 28px;
    font-weight: bold;

    &:hover,
    &:focus {
      color: invert($foreground, 20%);
      text-decoration: none;
      cursor: pointer;
    }
  }
}

.modal-no-scroll {
  overflow: hidden;
}
