@import url("https://fonts.googleapis.com/css?family=Fira+Code&display=swap");
@import url("https://fonts.googleapis.com/css?family=Spartan&display=swap");

a,
p,
h1,
h2,
h3,
h4,
b,
i,
body,
button {
  font-family: "Spartan";
}

p {
  line-height: 2;
}

a {
  color: $red;
  &:hover {
    color: darken($red, 10%);
  }
}

.code {
  font-family: "Fira Code";
  font-variant-ligatures: common-ligatures;
  background-color: lighten($background, 10%);
  border: 2px solid darken($background, 5%);
  padding: 0.1rem;
  border-radius: 4px;
}

p.code,
pre {
  display: inline-block;
  overflow: auto;
}

pre {
  font-family: "Fira Code";
  font-variant-ligatures: common-ligatures;
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word;
}

.centered {
  text-align: center;
  margin: auto;
}

.in-center {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

ul {
  padding-inline-start: 0;
  padding-inline-end: 40px;
}

li {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  line-height: 1.75;
}
