/******************************************************
*   FIXED COLORS (Change these to propagate chages)   *
******************************************************/
/******************************************************
*        DYNAMIC COLORS (Probably Don't Touch!)       *
******************************************************/
@import url("https://fonts.googleapis.com/css?family=Fira+Code&display=swap");
@import url("https://fonts.googleapis.com/css?family=Spartan&display=swap");
.color-demo {
  cursor: pointer;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(213, 213, 213, 0.5);
          box-shadow: 0px 0px 10px 0px rgba(213, 213, 213, 0.5);
  -webkit-transition: all ease-in-out 150ms;
  transition: all ease-in-out 150ms;
}

.color-demo.red {
  background-color: #ff4340;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(255, 17, 13, 0.5);
          box-shadow: 0px 0px 10px 0px rgba(255, 17, 13, 0.5);
}

.color-demo.blue {
  background-color: #00bee0;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 147, 173, 0.5);
          box-shadow: 0px 0px 10px 0px rgba(0, 147, 173, 0.5);
}

.color-demo.green {
  background-color: #7cb342;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(98, 142, 52, 0.5);
          box-shadow: 0px 0px 10px 0px rgba(98, 142, 52, 0.5);
}

.color-demo.bg {
  background-color: #eeeeee;
}

.color-demo.fg {
  background-color: #252525;
  color: #eeeeee;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(37, 37, 37, 0.5);
          box-shadow: 0px 0px 10px 0px rgba(37, 37, 37, 0.5);
}

.color-demo:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.display-mode-icon {
  font-size: 1.4rem;
  text-align: center;
}

body {
  background-color: #eeeeee;
  color: #252525;
  margin-left: 0px;
  margin-right: 0px;
}

body,
.item,
.titlebar,
.titlebar a span,
.masthead {
  -webkit-transition: all ease-in-out 200ms;
  transition: all ease-in-out 200ms;
}

.blurred {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.blurred.unblurable {
  -webkit-transition: -webkit-filter ease-in-out 250ms;
  transition: -webkit-filter ease-in-out 250ms;
  transition: filter ease-in-out 250ms;
  transition: filter ease-in-out 250ms, -webkit-filter ease-in-out 250ms;
}

.blurred.unblurable:hover {
  -webkit-filter: none;
          filter: none;
  -webkit-transition: -webkit-filter ease-in-out 250ms;
  transition: -webkit-filter ease-in-out 250ms;
  transition: filter ease-in-out 250ms;
  transition: filter ease-in-out 250ms, -webkit-filter ease-in-out 250ms;
}

.bounce {
  -webkit-animation: bounce 2s 10;
  animation: bounce 2s 10;
}

@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

.modal {
  visibility: hidden;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  z-index: 2048;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: #eeeeee;
  background-color: rgba(0, 0, 0, 0.75);
  -webkit-transition-duration: 400ms, 400ms;
          transition-duration: 400ms, 400ms;
  -webkit-transition-property: visibility, opacity;
  transition-property: visibility, opacity;
}

.modal.visible {
  visibility: visible;
  opacity: 1;
  -webkit-transition-duration: 400ms, 0;
          transition-duration: 400ms, 0;
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  -webkit-transition-delay: 0, 400ms;
          transition-delay: 0, 400ms;
}

/* Modal Content */
.modal-content {
  background-color: #eeeeee;
  padding: 20px;
  border: 1px solid white;
  width: 80%;
  max-width: 80%;
  max-height: 80%;
  border-radius: 8px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
  overflow: auto;
  max-width: 1024;
  /* The Close Button */
}

.modal-content img {
  display: block;
  margin: auto;
  width: 80%;
  height: auto;
}

.modal-content .container {
  width: 80%;
  height: 80%;
  display: block;
  margin: auto;
}

.modal-content .header {
  text-align: center;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  padding-bottom: 1rem;
  border-bottom: 1px solid white;
}

.modal-content .content {
  overflow: auto;
}

.modal-content .close {
  color: #252525;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-content .close:hover, .modal-content .close:focus {
  color: #494949;
  text-decoration: none;
  cursor: pointer;
}

.modal-no-scroll {
  overflow: hidden;
}

button,
input[type="button"],
input[type="submit"] {
  padding: 0.75rem 1rem;
  border: none;
  outline: none;
  background-color: #d0d0d0;
  color: #252525;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 0.3em;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(213, 213, 213, 0.5);
          box-shadow: 0px 0px 10px 0px rgba(213, 213, 213, 0.5);
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  font-size: 14px;
}

button:hover,
input[type="button"]:hover,
input[type="submit"]:hover {
  background-color: white;
}

button:active,
input[type="button"]:active,
input[type="submit"]:active {
  background-color: #fbfbfb;
}

button.small,
input[type="button"].small,
input[type="submit"].small {
  font-size: 12px;
  padding: 0.5rem 0.75rem;
}

button.outlined,
input[type="button"].outlined,
input[type="submit"].outlined {
  background-color: transparent;
  border: 2px solid #d0d0d0;
}

button.outlined:hover,
input[type="button"].outlined:hover,
input[type="submit"].outlined:hover {
  background-color: transparent;
  border: 2px solid white;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

button.outlined:active,
input[type="button"].outlined:active,
input[type="submit"].outlined:active {
  background-color: transparent;
  border: 2px solid #fbfbfb;
}

button.inverted,
input[type="button"].inverted,
input[type="submit"].inverted {
  background-color: #111111;
  color: #dadada;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(17, 17, 17, 0.5);
          box-shadow: 0px 0px 10px 0px rgba(17, 17, 17, 0.5);
}

button.inverted:hover,
input[type="button"].inverted:hover,
input[type="submit"].inverted:hover {
  background-color: #2b2b2b;
}

button.inverted:active,
input[type="button"].inverted:active,
input[type="submit"].inverted:active {
  background-color: #1e1e1e;
}

button.inverted.outlined,
input[type="button"].inverted.outlined,
input[type="submit"].inverted.outlined {
  background-color: transparent;
  color: #111111;
  border: 2px solid #111111;
}

button.inverted.outlined:hover,
input[type="button"].inverted.outlined:hover,
input[type="submit"].inverted.outlined:hover {
  color: #2b2b2b;
  border: 2px solid #2b2b2b;
}

button.inverted.outlined:active,
input[type="button"].inverted.outlined:active,
input[type="submit"].inverted.outlined:active {
  color: #323232;
  border: 2px solid #1e1e1e;
}

button.red,
button input[type="reset"],
input[type="button"].red,
input[type="button"] input[type="reset"],
input[type="submit"].red,
input[type="submit"] input[type="reset"] {
  background-color: #ff4340;
}

button.red:hover,
button input[type="reset"]:hover,
input[type="button"].red:hover,
input[type="button"] input[type="reset"]:hover,
input[type="submit"].red:hover,
input[type="submit"] input[type="reset"]:hover {
  background-color: #ff7573;
}

button.red:active,
button input[type="reset"]:active,
input[type="button"].red:active,
input[type="button"] input[type="reset"]:active,
input[type="submit"].red:active,
input[type="submit"] input[type="reset"]:active {
  background-color: #ff5c5a;
}

button.red.outlined,
button input[type="reset"].outlined,
input[type="button"].red.outlined,
input[type="button"] input[type="reset"].outlined,
input[type="submit"].red.outlined,
input[type="submit"] input[type="reset"].outlined {
  background-color: transparent;
  color: #ff4340;
  border: 2px solid #ff4340;
}

button.red.outlined:hover,
button input[type="reset"].outlined:hover,
input[type="button"].red.outlined:hover,
input[type="button"] input[type="reset"].outlined:hover,
input[type="submit"].red.outlined:hover,
input[type="submit"] input[type="reset"].outlined:hover {
  color: #ff7573;
  border: 2px solid #ff7573;
}

button.red.outlined:active,
button input[type="reset"].outlined:active,
input[type="button"].red.outlined:active,
input[type="button"] input[type="reset"].outlined:active,
input[type="submit"].red.outlined:active,
input[type="submit"] input[type="reset"].outlined:active {
  color: #ff5c5a;
  border: 2px solid #ff5c5a;
}

button.green,
input[type="button"].green,
input[type="submit"].green {
  background-color: #7cb342;
}

button.green:hover,
input[type="button"].green:hover,
input[type="submit"].green:hover {
  background-color: #95c563;
}

button.green:active,
input[type="button"].green:active,
input[type="submit"].green:active {
  background-color: #89be50;
}

button.green.outlined,
input[type="button"].green.outlined,
input[type="submit"].green.outlined {
  background-color: transparent;
  color: #7cb342;
  border: 2px solid #7cb342;
}

button.green.outlined:hover,
input[type="button"].green.outlined:hover,
input[type="submit"].green.outlined:hover {
  color: #95c563;
  border: 2px solid;
}

button.green.outlined:active,
input[type="button"].green.outlined:active,
input[type="submit"].green.outlined:active {
  color: #89be50;
  border: 2px solid;
}

button.cyan,
input[type="button"].cyan,
input[type="submit"].cyan {
  background-color: #00bee0;
  color: #eeeeee;
}

button.cyan:hover,
input[type="button"].cyan:hover,
input[type="submit"].cyan:hover {
  background-color: #14dbff;
}

button.cyan:active,
input[type="button"].cyan:active,
input[type="submit"].cyan:active {
  background-color: #00d4fa;
}

button.cyan.outlined,
input[type="button"].cyan.outlined,
input[type="submit"].cyan.outlined {
  background-color: transparent;
  color: #00bee0;
  border: 2px solid #00bee0;
}

button.cyan.outlined:hover,
input[type="button"].cyan.outlined:hover,
input[type="submit"].cyan.outlined:hover {
  color: #14dbff;
  border: 2px solid #14dbff;
}

button.cyan.outlined:active,
input[type="button"].cyan.outlined:active,
input[type="submit"].cyan.outlined:active {
  color: #00d4fa;
  border: 2px solid #00d4fa;
}

.container {
  padding: 2rem 5vw;
}

.container.centered {
  display: block;
  margin: auto;
  text-align: center;
  padding: 0;
}

.divider {
  width: 70vw;
  height: 10px;
  border-bottom: 1px solid #d0d0d0;
  margin: 1rem auto;
}

.divider.wide {
  width: 100%;
}

.divider.narrow {
  width: 30vw;
}

.embed {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.embed iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

textarea {
  background-color: white;
  color: #252525;
  font-family: "Spartan";
  border-radius: 0.3em;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(213, 213, 213, 0.5);
          box-shadow: 0px 0px 10px 0px rgba(213, 213, 213, 0.5);
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  font-size: 14px;
  padding: 0.75rem 1rem;
  border: none;
  outline: none;
  resize: none;
  width: -webkit-fill-available;
  height: auto;
  margin: 16px;
}

textarea:focus {
  -webkit-box-shadow: 0px 0px 10px 0px #00bee0;
          box-shadow: 0px 0px 10px 0px #00bee0;
}

form {
  max-width: 100vw;
}

form .flex-form {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (minmax(256px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
  grid-gap: 1rem 3rem;
  grid-auto-flow: dense;
  margin: auto;
  padding: 1rem;
}

form .flex-form.labelled {
  -ms-grid-columns: 1fr 5fr;
      grid-template-columns: 1fr 5fr;
}

@media (max-width: 767px) {
  form .flex-form.labelled {
    -ms-grid-columns: (minmax(256px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
  }
}

form .input-with-icon i {
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
}

form .input-with-icon input {
  padding-left: 32px !important;
}

form input {
  background-color: white;
  color: #252525;
  display: block;
  width: 100%;
  width: 16em;
}

form input[type="password"], form input[type="text"], form input[type="date"], form input[type="email"], form input[type="file"], form input[type="month"], form input[type="number"], form input[type="tel"], form input[type="search"], form input[type="url"], form input[type="week"] {
  font-family: "Spartan";
  border-radius: 0.3em;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(213, 213, 213, 0.5);
          box-shadow: 0px 0px 10px 0px rgba(213, 213, 213, 0.5);
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  font-size: 14px;
  padding: 0.75rem 1rem;
  border: none;
  outline: none;
}

form input[type="password"]:focus, form input[type="text"]:focus, form input[type="date"]:focus, form input[type="email"]:focus, form input[type="file"]:focus, form input[type="month"]:focus, form input[type="number"]:focus, form input[type="tel"]:focus, form input[type="search"]:focus, form input[type="url"]:focus, form input[type="week"]:focus {
  -webkit-box-shadow: 0px 0px 10px 0px #00bee0;
          box-shadow: 0px 0px 10px 0px #00bee0;
}

form input[type="color"] {
  border-radius: 0.3em;
}

form input[type="search"] {
  width: 100%;
}

form input::-webkit-input-placeholder {
  color: rgba(37, 37, 37, 0.5);
}

form input:-ms-input-placeholder {
  color: rgba(37, 37, 37, 0.5);
}

form input::-ms-input-placeholder {
  color: rgba(37, 37, 37, 0.5);
}

form input::placeholder {
  color: rgba(37, 37, 37, 0.5);
}

form input[type="checkbox"], form input[type="color"], form input[type="radio"] {
  margin: auto;
}

form input[type="checkbox"]:focus, form input[type="color"]:focus, form input[type="radio"]:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 10px 0px #00bee0;
          box-shadow: 0px 0px 10px 0px #00bee0;
}

form input[type="checkbox"], form input[type="radio"] {
  --active-inner: #fff;
  --background: #fff;
  --disabled: #f6f8ff;
  --disabled-inner: #e1e6f9;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 21px;
  outline: none;
  display: inline-block;
  vertical-align: top;
  position: relative;
  cursor: pointer;
  background: var(--b, white);
  -webkit-transition: background 0.3s, border-color 0.3s, -webkit-box-shadow 0.2s;
  transition: background 0.3s, border-color 0.3s, -webkit-box-shadow 0.2s;
  transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  transition: background 0.3s, border-color 0.3s, box-shadow 0.2s, -webkit-box-shadow 0.2s;
}

form input[type="checkbox"]:after, form input[type="radio"]:after {
  content: "";
  display: block;
  left: 1px;
  top: 1px;
  position: absolute;
  -webkit-transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
  transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
  transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
  transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
}

form input[type="checkbox"]:checked, form input[type="radio"]:checked {
  background: var(--b, #00bee0);
  --d-o: 0.3s;
  --d-t: 0.6s;
  --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

form input[type="checkbox"]:disabled, form input[type="radio"]:disabled {
  --b: var(--disabled);
  cursor: not-allowed;
  opacity: 0.9;
}

form input[type="checkbox"]:disabled:checked, form input[type="radio"]:disabled:checked {
  --b: var(--disabled-inner);
  --bc: var(--border);
}

form input[type="checkbox"]:disabled + label, form input[type="radio"]:disabled + label {
  cursor: not-allowed;
}

form input[type="checkbox"]:hover:not(:checked):not(:disabled), form input[type="radio"]:hover:not(:checked):not(:disabled) {
  --bc: $cyan;
}

form input[type="checkbox"]:focus, form input[type="radio"]:focus {
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 190, 224, 0.9);
          box-shadow: 0 0 10px 0 rgba(0, 190, 224, 0.9);
}

form input[type="checkbox"]:not(.switch), form input[type="radio"]:not(.switch) {
  width: 21px;
}

form input[type="checkbox"]:not(.switch):after, form input[type="radio"]:not(.switch):after {
  opacity: var(--o, 0);
}

form input[type="checkbox"]:not(.switch):checked, form input[type="radio"]:not(.switch):checked {
  --o: 1;
}

form input[type="checkbox"] + label, form input[type="radio"] + label {
  font-size: 14px;
  line-height: 21px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  margin-left: 4px;
}

form input[type="checkbox"]:not(.switch) {
  border-radius: 7px;
}

form input[type="checkbox"]:not(.switch):after {
  width: 5px;
  height: 9px;
  border: 2px solid white;
  border-top: 0;
  border-left: 0;
  left: 7px;
  top: 4px;
  -webkit-transform: rotate(var(--r, 20deg));
          transform: rotate(var(--r, 20deg));
}

form input[type="checkbox"]:not(.switch):checked {
  --r: 43deg;
}

form input[type="checkbox"].switch {
  width: 38px;
  border-radius: 11px;
}

form input[type="checkbox"].switch:after {
  left: 3px;
  top: 3px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: var(--ab, #00bee0);
  -webkit-transform: translateX(var(--x, 0));
          transform: translateX(var(--x, 0));
}

form input[type="checkbox"].switch:checked {
  --ab: var(--active-inner);
  --x: 17px;
}

form input[type="checkbox"].switch:checked:after {
  background: white;
}

form input[type="checkbox"].switch:disabled:not(:checked):after {
  opacity: 0.6;
}

form input[type="radio"] {
  border-radius: 50%;
}

form input[type="radio"]:after {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background: white;
  opacity: 0;
  -webkit-transform: scale(var(--s, 0.7));
          transform: scale(var(--s, 0.7));
}

form input[type="range"] {
  height: 26px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  background-color: transparent;
}

form input[type="range"]:focus {
  outline: none;
}

form input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 14px;
  cursor: pointer;
  -webkit-animation: 0.2s;
          animation: 0.2s;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(213, 213, 213, 0.5);
          box-shadow: 0px 0px 10px 0px rgba(213, 213, 213, 0.5);
  background: white;
  border-radius: 14px;
}

form input[type="range"]::-webkit-slider-thumb {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(213, 213, 213, 0.5);
          box-shadow: 0px 0px 10px 0px rgba(213, 213, 213, 0.5);
  height: 20px;
  width: 40px;
  border-radius: 12px;
  background: #00bee0;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
}

form input[type="reset"] {
  padding: 0.75rem 1rem;
  border: none;
  outline: none;
  color: #252525;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 0.3em;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(213, 213, 213, 0.5);
          box-shadow: 0px 0px 10px 0px rgba(213, 213, 213, 0.5);
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  font-size: 14px;
  background-color: #ff4340;
}

form input[type="reset"]:hover {
  background-color: #ff7573;
}

form input[type="reset"]:active {
  background-color: #ff5c5a;
}

form input[type="reset"].small {
  font-size: 12px;
  padding: 0.5rem 0.75rem;
}

form input[type="reset"].outlined {
  background-color: transparent;
  border: 2px solid #d0d0d0;
}

form input[type="reset"].outlined:hover {
  background-color: transparent;
  border: 2px solid white;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

form input[type="reset"].outlined:active {
  background-color: transparent;
  border: 2px solid #fbfbfb;
}

form input[type="button"],
form input[type="reset"],
form input[type="submit"] {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  font-family: "Spartan";
  margin-bottom: 1rem;
}

.grid {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (minmax(120px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-gap: 2rem;
  grid-auto-flow: dense;
}

.cards {
  display: -ms-grid;
  display: grid;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (minmax(384px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(384px, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 2rem;
  grid-auto-flow: dense;
}

@media (max-width: 767px) {
  .cards {
    -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

.cards .card {
  background-color: #f3f3f3;
  color: #252525;
  -webkit-box-shadow: 0 0 10px 0 rgba(218, 218, 218, 0.95);
          box-shadow: 0 0 10px 0 rgba(218, 218, 218, 0.95);
  padding: 1rem;
  border-radius: 8px;
  border: 2px solid white;
  cursor: pointer;
  -webkit-transition: all ease-in-out 150ms;
  transition: all ease-in-out 150ms;
}

.cards .card:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.cards .card .header {
  text-align: center;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  padding-bottom: 1rem;
  border-bottom: 1px solid white;
}

.cards .card .content {
  overflow: hidden;
}

img.centered {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

img.rounded {
  border-radius: 8px;
}

img.thumbnail {
  width: 24px;
}

img.small {
  width: 128px;
}

img.medium {
  width: 256px;
}

img.large {
  width: 512px;
}

.masthead {
  height: 100vh;
  width: 100%;
  background-color: #7cb342;
  color: #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.masthead.rainbow {
  -webkit-animation: Rainbow 30s ease infinite;
  animation: Rainbow 30s ease infinite;
}

@-webkit-keyframes Rainbow {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes Rainbow {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

.masthead.gradient {
  background: url("/Resources/img/cover.png"), #7cb342;
  background: url("/Resources/img/cover.png"), -webkit-gradient(linear, right top, left bottom, from(#00bee0), to(#7cb342));
  background: url("/Resources/img/cover.png"), linear-gradient(to bottom left, #00bee0, #7cb342);
}

.masthead p.content {
  font-size: 64px;
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.masthead p.content .subheader {
  font-size: 32px;
  text-align: center;
}

.masthead p.content .subsubheader {
  font-size: 20px;
  text-align: center;
}

.masthead .down {
  position: absolute;
  bottom: 0;
}

.masthead .down i {
  font-size: 64px;
}

.titlebar.top {
  background-color: #eeeeee;
  color: #252525;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 2px 0px 0px rgba(213, 213, 213, 0.5);
          box-shadow: 0px 2px 0px 0px rgba(213, 213, 213, 0.5);
}

.masthead {
  height: calc(100vh - 3rem);
}

body {
  margin-top: 3rem;
}

.titlebar.top a {
  color: #252525;
  text-decoration: none;
}

.titlebar.top.translucent {
  background-color: rgba(238, 238, 238, 0.95);
}

.titlebar.top .item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #d0d0d0;
  padding: 0px 1rem;
  height: 100%;
  cursor: pointer;
}

.titlebar.top .item span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.titlebar.top .item:hover {
  background-color: #e1e1e1;
  -webkit-transition: all ease-in 150ms;
  transition: all ease-in 150ms;
}

@media (min-width: 767px) {
  .dropdown.item.compact > *,
  .dropdown.item.compact {
    display: none;
  }
}

@media (max-width: 767px) {
  .titlebar.top .item:not(.compact) {
    display: none;
  }
}

.mobile-menu {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  z-index: 1024;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(238, 238, 238, 0.95);
  color: #252525;
  -webkit-transition-duration: 200ms, 200ms;
          transition-duration: 200ms, 200ms;
  -webkit-transition-property: visibility, opacity;
  transition-property: visibility, opacity;
}

.mobile-menu.visible {
  visibility: visible;
  opacity: 1;
  -webkit-transition-duration: 200ms, 0;
          transition-duration: 200ms, 0;
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  -webkit-transition-delay: 0, 200ms;
          transition-delay: 0, 200ms;
}

.mobile-menu .close-mobile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  justify-items: flex-end;
  width: 100vw;
  max-width: 100vw;
  font-size: 4rem;
  background-color: rgba(255, 17, 13, 0.5);
  cursor: pointer;
}

.mobile-menu .close-mobile-menu:hover {
  color: #ffffff;
}

.mobile-menu .item {
  width: 100vw;
  height: 10px;
  max-height: 4rem;
}

.mobile-menu .sub.item {
  display: none;
  padding-left: 3rem;
  background-color: white;
}

.mobile-menu .sub.item.visible {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.no-scroll {
  overflow: hidden;
}

.dropdown.item {
  position: relative;
  display: inline-block;
}

.dropdown.item:hover .dropdown-content {
  max-height: 100vh;
  display: block;
}

.dropdown.item .dropdown-content {
  max-height: 0px;
  overflow-y: hidden;
  top: 100%;
  left: 0;
  -webkit-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
  position: absolute;
  background-color: #d0d0d0;
}

.dropdown.item .dropdown-content .item {
  color: #252525;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown.item .dropdown-content .item:hover {
  background-color: #e1e1e1;
  -webkit-transition: all ease-in 150ms;
  transition: all ease-in 150ms;
}

.dropdown.item .dropdown-content .dropdown.item {
  display: inline-block;
  overflow: visible;
}

.dropdown.item .dropdown-content .dropdown.item:hover .dropdown-content {
  position: unset;
  max-height: 100vh;
}

.dropdown.item .dropdown-content .dropdown.item .dropdown-content {
  max-height: 0px;
}

.dropdown.item .dropdown-content .dropdown.item .dropdown-content .item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.dropdown.item .dropdown.item .dropdown-content {
  top: 0;
  left: 100%;
}

a,
p,
h1,
h2,
h3,
h4,
b,
i,
body,
button {
  font-family: "Spartan";
}

p {
  line-height: 2;
}

a {
  color: #ff4340;
}

a:hover {
  color: #ff110d;
}

.code {
  font-family: "Fira Code";
  -webkit-font-variant-ligatures: common-ligatures;
          font-variant-ligatures: common-ligatures;
  background-color: white;
  border: 2px solid #e1e1e1;
  padding: 0.1rem;
  border-radius: 4px;
}

p.code,
pre {
  display: inline-block;
  overflow: auto;
}

pre {
  font-family: "Fira Code";
  -webkit-font-variant-ligatures: common-ligatures;
          font-variant-ligatures: common-ligatures;
  white-space: pre-wrap;
  /* css-3 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
}

.centered {
  text-align: center;
  margin: auto;
}

.in-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  -webkit-padding-end: 40px;
          padding-inline-end: 40px;
}

li {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  line-height: 1.75;
}
/*# sourceMappingURL=main-light.css.map */