<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="/JuiceUI/Resources/img/Mala.png" />

    <link href="/JuiceUI/Libraries/fontawesome/css/all.min.css" rel="stylesheet">
    <link href="/JuiceUI/Libraries/sass/themekit/main-dark.css" rel="stylesheet" id="themekit-css">

    <script src="/JuiceUI/Libraries/js/themekit/menu.js"></script>
    <script src="/JuiceUI/Libraries/js/themekit/modal.js"></script>
    <script src="/JuiceUI/Libraries/js/app.js"></script>

    <title>oitsjustjo.se - Shorten URLs</title>
</head>

<body style="visibility: hidden;" onload="document.body.style.visibility = 'visible'">
    <div class="top translucent titlebar ">
        <div class="mobile-menu">
            <div class="close-mobile-menu" onclick='toggleMenu()'>
                <i class="fas fa-times"></i>
            </div>
            <div class="compact item" onclick="toggleDisplayMode()">
                <span class="display-mode-icon">
                </span>
            </div>
        </div>

        <!-- Mobile friendly menu -->
        <div class="dropdown item compact" onclick='toggleMenu()'>
            <span>
                <i class="fa fa-bars"></i>&nbsp;Menu
            </span>
        </div>
        <div class="item" onclick="toggleDisplayMode()">
            <span class="display-mode-icon"></span>
        </div>
        <a href="https://github.com/oitsjustjose/oitsjustjo.se" target="_blank" class="item">
            <span>Source&nbsp;<i class="fab fa-github"></i></span>
        </a>
    </div>

    <div class="url-form-container">
        <form action="/add" style="width: 100%">
            <label for="url">Paste your URL to Shorten!</label>
            <input type="text" name="url" id="url" style="width: 100%; margin-bottom: 2rem;">
            <input type="submit" value="Shorten!">
        </form>
    </div>
</body>

</html>